{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
    <h1 n:block=title>Assessment</h1>
</div>

<div id="content">
    <h2>Address</h2>
    {form registrationForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <p>Shipping address</p>
        <table>
            <tbody>
                <tr>
                    <th>{label email /}</th>
                    <td>                        
                        {input email}
                    </td>
                </tr>
                <tr>
                    <th>{label phone /}</th>
                    <td>                        
                        {input phone}
                    </td>
                </tr>
                <tr>
                    <th>{label company /}</th>
                    <td>                        
                        {input company}
                    </td>
                </tr>
               <tr>
                    <th>{label firstname /}</th>
                    <td>                        
                        {input firstname}
                    </td>
                </tr>
                <tr>
                    <th>{label surname /}</th>
                    <td>                        
                        {input surname}
                    </td>
                </tr>
                <tr>
                    <th>{label address /}</th>
                    <td>                        
                        {input address}
                    </td>
                </tr>
                <tr>
                    <th>{label city /}</th>
                    <td>                        
                        {input city}
                    </td>
                </tr>
                <tr>
                    <th>{label postcode /}</th>
                    <td>                        
                        {input postcode}
                    </td>
                </tr>
                <tr>
                    <th>{label country /}</th>
                    <td>                        
                        {input country}
                    </td>
                </tr>
            </tbody>
        </table>
                       
        <p>{input secondAddress}</p>
        
        
        <p>Billing address</p>
        <table>
            <tbody>
                <tr>
                    <th>{label email2 /}</th>
                    <td>                        
                        {input email2}
                    </td>
                </tr>
                <tr>
                    <th>{label phone2 /}</th>
                    <td>                        
                        {input phone2}
                    </td>
                </tr>
                <tr>
                    <th>{label company2 /}</th>
                    <td>                        
                        {input company2}
                    </td>
                </tr>
               <tr>
                    <th>{label firstname2 /}</th>
                    <td>                        
                        {input firstname2}
                    </td>
                </tr>
                <tr>
                    <th>{label surname2 /}</th>
                    <td>                        
                        {input surname2}
                    </td>
                </tr>
                <tr>
                    <th>{label address2 /}</th>
                    <td>                        
                        {input address2}
                    </td>
                </tr>
                <tr>
                    <th>{label city2 /}</th>
                    <td>                        
                        {input city2}
                    </td>
                </tr>
                <tr>
                    <th>{label postcode2 /}</th>
                    <td>                        
                        {input postcode2}
                    </td>
                </tr>
                <tr>
                    <th>{label country2 /}</th>
                    <td>                        
                        {input country2}
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p>{input send}</p>

    {/form}
</div>

<style>
    html { font: normal 18px/1.3 Georgia, "New York CE", utopia, serif; color: #666; -webkit-text-stroke: 1px rgba(0,0,0,0); overflow-y: scroll; }
    body { background: #2BCDFC; color: #333; margin: 2em auto; padding: 0 .5em; max-width: 600px; min-width: 420px; }

    a { color: #2BCDFC; padding: 3px 1px; }
    a:hover, a:active, a:focus { background-color: #F9F9F9; text-decoration: none; color: #2BCDFC; }

    #banner { border-radius: 12px 12px 0 0; background: #F9F9F9; width: 650px;}

    h1 { font: inherit; color: #333; font-size: 50px; line-height: 121px; margin: 0; padding-left: 4%; background: url(http://www.getseoshop.com/assets/gfx/seoshop-logo.png?20150810) no-repeat 95%; background-size: 130px auto; text-shadow: 1px 1px 0 rgba(0, 0, 0, .9); }
    @media (max-width: 600px) {
        h1 { background: none; font-size: 40px; }
    }

    td, th { padding: 0 10px 0 10px; text-align: center }

    th { background: #F9F9F9; }

    #content { background: white; border: 1px solid #eff4f7; border-radius: 0 0 12px 12px; padding: 10px 4%; overflow: hidden; width: 600px;}

    h2 { font: inherit; padding: 1.2em 0; margin: 0; font-size: 30px}

    img { border: none; float: right; margin: 0 0 1em 3em; }
</style>
