{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
    <h1 n:block=title>Assessment</h1>
</div>

<div id="content">
    <h2>Discount</h2>
    {form discountForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <table>
            <tbody>
                <tr>
                    <th>{label discount /}</th>
                    <td>                        
                        {input discount}
                    </td>
                </tr>

            </tbody>
        </table>

        <p>{input send}</p>
    {/form}

    <h2>Cart</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Variant</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {foreach $cart->getItems() AS $key => $item}
            {var $secur = $security->create()->setKey($item->createProductKey())->make()}
            <tr>
                <td>{$item->getName()}</td>
                <td>{$item->getAttributeName()}</td>
                <td>{$item->getQuantity()}</td>
                <td>{$item->getTotalPrice()}&#8364;</td>
            </tr>
        {/foreach}
        <tr>
            <td><strong>Total:</strong></td><td></td><td><strong>{$cart->getTotalQuantity()}</strong></td><td><strong>{$cart->getTotalPrice()}&#8364;</strong></td>
        <tr>
            {if $cart->getDiscount()}
            <tr>
                <td><strong>Discount:</strong></td><td></td><td></td><td><strong>{$cart->getTotalPriceWithDiscount()}&#8364; - {$cart->getDiscount()}% less</strong></td>
            <tr>
            {/if}

    </table>

    <h2>Addresses</h2>
    {foreach $addresses AS $a}
        <p><strong>{$a->addresstype->name|firstUpper}</strong></p>
        <p>
            {$a->address->company}<br />
            {$a->address->firstname} {$a->address->surname}<br />
            {$a->address->email}<br />
            {$a->address->phone}<br />
            {$a->address->address}, {$a->address->postcode} {$a->address->city}<br />
            {$a->address->country}<br />
        </p>
    {/foreach}
    {var $secur = $security->create()->make()}
    <p><a n:href="confirm, $secur['timestamp'], $secur['token']">confirm order</a></p>

</div>

<style>
    html { font: normal 18px/1.3 Georgia, "New York CE", utopia, serif; color: #666; -webkit-text-stroke: 1px rgba(0,0,0,0); overflow-y: scroll; }
    body { background: #2BCDFC; color: #333; margin: 2em auto; padding: 0 .5em; max-width: 600px; min-width: 420px; }

    a { color: #2BCDFC; padding: 3px 1px; }
    a:hover, a:active, a:focus { background-color: #F9F9F9; text-decoration: none; color: #2BCDFC; }

    #banner { border-radius: 12px 12px 0 0; background: #F9F9F9; width: 650px;}

    h1 { font: inherit; color: #333; font-size: 50px; line-height: 121px; margin: 0; padding-left: 4%; background: url(http://www.getseoshop.com/assets/gfx/seoshop-logo.png?20150810) no-repeat 95%; background-size: 130px auto; text-shadow: 1px 1px 0 rgba(0, 0, 0, .9); }
    @media (max-width: 600px) {
        h1 { background: none; font-size: 40px; }
    }

    td, th { padding: 0 10px 0 10px; text-align: center }

    th { background: #F9F9F9; }

    #content { background: white; border: 1px solid #eff4f7; border-radius: 0 0 12px 12px; padding: 10px 4%; overflow: hidden; width: 600px;}

    h2 { font: inherit; padding: 1.2em 0; margin: 0; font-size: 30px}

    img { border: none; float: right; margin: 0 0 1em 3em; }
</style>
